$font-family: 'Montserrat', sans-serif;

$regular: 400;
$bold: 700; 

$xxxx-large: 130px;
$xxx-large: 100px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px; 
$medium: 16px;
$small: 14px;
$x-small: 12px; 

$black: #000;
$white: #FFF;
$light-gray:  #f2f4f5;
$gray: gray;

$steelblue: steelblue;
$coral: coral;
$salmon: #ffa58a;
